VT_KEY=your_virustotal_api_key
DOWNLOADS_DIR=/path/to/cowrie/downloads/
TTY_DIR=/path/to/cowrie/tty/
LOG_GLOB=/path/to/cowrie/cowrie.json*
COWRIE_CONTAINER=
COWRIE_TTY_PATH=
COWRIE_PYTHON=
COWRIE_PLAYLOG=
